{% macro button(url, options) %}
    {% if options.label is not defined %}
        {% set options = options | merge ({label: false}) %}
    {% endif %}
    {% spaceless %}
    <a href="{{ url }}" class="ui {{ options.label ? 'labeled' }} icon button {{ options.class is defined ? options.class }}" {% if options.title is defined %}title="{{ options.title }}"{% endif %}>
        {%- if options.icon is defined -%}
            <i class="{{ options.icon }} icon"></i>
        {%- endif -%}
        {%- if options.label -%}
        {{ options.label | default('') | trans }}
        {%- endif -%}
    </a>
    {% endspaceless %}
{% endmacro %}

{% macro create(url, options = {}) %}
    {% import _self as buttons %}

    {% if (options.label is not defined or not options.label) and options.title is not defined %}
        {% set options = options | merge ({title: 'Dodaj'}) %}
    {% endif %}
    {% if options.icon is not defined %}
        {% set options = options | merge ({icon: 'add circle'}) %}
    {% endif %}
    {% if options.class is not defined %}
        {% set options = options | merge ({class: 'primary'}) %}
    {% endif %}
    {{ buttons.button(url, options) }}
{% endmacro %}

{% macro show(url, options = {}) %}
    {% import _self as buttons %}

    {% if (options.label is not defined or not options.label) and options.title is not defined %}
        {% set options = options | merge ({title: 'Pokaż'}) %}
    {% endif %}
    {% if options.icon is not defined %}
        {% set options = options | merge ({icon: 'search'}) %}
    {% endif %}
    {{ buttons.button(url, options) }}
{% endmacro %}

{% macro edit(url, options = {}) %}
    {% import _self as buttons %}

    {% if (options.label is not defined or not options.label) and options.title is not defined %}
        {% set options = options | merge ({title: 'Edytuj'}) %}
    {% endif %}
    {% if options.icon is not defined %}
        {% set options = options | merge ({icon: 'edit'}) %}
    {% endif %}
    {{ buttons.button(url, options) }}
{% endmacro %}

{% macro cancel(url, options = {}) %}
    {% if options.label is not defined %}
        {% set options = options | merge ({label: 'Anuluj'}) %}
    {% endif %}
    {% if options.icon is not defined %}
        {% set options = options | merge ({icon: 'angle double left'}) %}
    {% endif %}
    <a href="{{ url }}" class="ui left button link">
        {% if options.icon is defined %}
            <i class="{{ options.icon }} icon"></i>
        {% endif %}
        {{ options.label | default('') | trans }}
    </a>
{% endmacro %}

{% macro save(options = {}) %}
    {% if options.label is not defined %}
        {% set options = options | merge ({label: 'Zapisz'}) %}
    {% endif %}
    {% if options.icon is not defined %}
        {% set options = options | merge ({icon: 'save'}) %}
    {% endif %}
    <button type="submit" class="ui positive right labeled icon button">
        {{ options.label | default('') | trans }}
        {% if options.icon is defined %}
            <i class="{{ options.icon }} icon"></i>
        {% endif %}
    </button>
{% endmacro %}

{% macro saveOrCancel(url, options = {}) %}
    {% import _self as buttons %}

    {% if options.save is not defined %}
        {% set options = options | merge ({save: {}}) %}
    {% endif %}
    {% if options.cancel is not defined %}
        {% set options = options | merge ({cancel: {}}) %}
    {% endif %}
    <div class="ui buttons">
        {{ buttons.cancel(url, options.cancel) }}
        <div class="or" data-text="{{ 'lub' | trans }}"></div>
        {{ buttons.save(options.save) }}
    </div>
{% endmacro %}

{% macro delete(delete_form, options = {}) %}
    {% if options.label is not defined %}
        {% set options = options | merge ({label: 'Usuń'}) %}
    {% endif %}
    {% if options.icon is not defined %}
        {% set options = options | merge ({icon: 'delete'}) %}
    {% endif %}
    {{ form_start(delete_form) }}
    <button type="submit" class="ui negative labeled icon button">
        {% if options.icon is defined %}
            <i class="{{ options.icon }} icon"></i>
        {% endif %}
        {{ options.label | default('') | trans }}
    </button>
    {{ form_end(delete_form) }}
{% endmacro %}
