{% macro button(url, options) %}
    {% spaceless %}
    <a href="{{ url }}" class="ui labeled icon button">
        {%- if options.icon is defined -%}
            <i class="{{ options.icon }} icon"></i>
        {%- endif -%}
        {{ options.label | default('') | trans }}
    </a>
    {% endspaceless %}
{% endmacro %}

{% macro create(url, options = {}) %}
    {% if options.label is not defined %}
        {% set options = options | merge ({label: 'Dodaj'}) %}
    {% endif %}
    {% if options.icon is not defined %}
        {% set options = options | merge ({icon: 'add circle'}) %}
    {% endif %}
    {{ _self.button(url, options) }}
{% endmacro %}

{% macro edit(url, options = {}) %}
    {% if options.label is not defined %}
        {% set options = options | merge ({label: 'Edytuj'}) %}
    {% endif %}
    {% if options.icon is not defined %}
        {% set options = options | merge ({icon: 'edit'}) %}
    {% endif %}
    {{ _self.button(url, options) }}
{% endmacro %}

{% macro cancel(url, options = {}) %}
    {% if options.label is not defined %}
        {% set options = options | merge ({label: 'Anuluj'}) %}
    {% endif %}
    {% if options.icon is not defined %}
        {% set options = options | merge ({icon: 'angle double left'}) %}
    {% endif %}
    <a href="{{ url }}" class="ui button link">
        {% if options.icon is defined %}
            <i class="{{ options.icon }} icon"></i>
        {% endif %}
        {{ options.label | default('') | trans }}
    </a>
{% endmacro %}

{% macro save(options = {}) %}
    {% if options.label is not defined %}
        {% set options = options | merge ({label: 'Zapisz'}) %}
    {% endif %}
    <input type="submit" value="{{ options.label | default('') | trans }}" class="ui positive button" />
{% endmacro %}

{% macro saveOrCancel(url, options = {}) %}
    {% if options.save is not defined %}
        {% set options = options | merge ({save: {}}) %}
    {% endif %}
    {% if options.cancel is not defined %}
        {% set options = options | merge ({cancel: {}}) %}
    {% endif %}
    <div class="ui buttons">
        {{ _self.cancel(url, options.cancel) }}
        <div class="or" data-text="{{ 'lub' | trans }}"></div>
        {{ _self.save(options.save) }}
    </div>
{% endmacro %}

{% macro delete(delete_form, options = {}) %}
    {% if options.label is not defined %}
        {% set options = options | merge ({label: 'Usuń'}) %}
    {% endif %}
    {% if options.icon is not defined %}
        {% set options = options | merge ({icon: 'delete'}) %}
    {% endif %}
    {{ form_start(delete_form) }}
    <button type="submit" class="ui negative button">
        {% if options.icon is defined %}
            <i class="{{ options.icon }} icon"></i>
        {% endif %}
        {{ options.label | default('') | trans }}
    </button>
    {{ form_end(delete_form) }}
{% endmacro %}
